@media (max-width: 991px) {
	.container {
		max-width: 720px;
	}
	.advantages {
		&__item {
			width: 220px;
		}
	}
	.title {
		&_left {
			font-size: 30px;
			line-height: 45px;
		}
	}
	.carousel {
		&__wrapper {
			max-width: 100%;
		}
		.prev, .next {
			display: none;
		}
	}
}

@media (max-width: 767px) {
	.container {
		max-width: 540px;
	}
	.header {
		&__official {
			display: none;
		}
	}
	.promo {
		&__wrapper {
			align-items: center;
		}
	}
	.advantages {
		&__wrapper {
			flex-direction: column;
			align-items: center;
		}
		&__item {
			width: 242px;
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}
	.title {
		&_left {
			text-align: center;
		}
	}
	.consultations {
		&__descr {
			text-align: center;
		}
	}
	.feed-form {
		margin-inline: auto;
	}
}

@media (max-width: 575px) {
	.container {
		width: auto;
		padding-inline: 5%;
	}
	.header {
		&__logo {
			img {
				width: 90%;
			}
		}
		&__phone {
			font-size: 14px;
		}
	}
	.promo {
		min-height: auto;
		padding-bottom: 50px;
		&__wrapper {
			margin-top: 60px;
		}
		&__header {
			text-align: center;
			font-size: 25px;
		}
		&__subheader {
			text-align: center;
			font-size: 15px;
		}
		&__icons {
			width: 100%;
			justify-content: space-evenly;
		}
		&__icon {
			width: 80px;
			font-size: 12px;
			br {
				display: none;
			}
		}
	}
	.button {
		&_main {
			width: auto;
			height: auto;
			padding: 16px 32px;
		}
	}
	.advantages {
		padding-block: 50px;
		&__wrapper {
			margin-top: 20px;
		}
	}
	.title {
		font-size: 20px;
		line-height: 30px;
	}
	.consultations {
		padding-block: 50px;
		min-height: auto;
		&__descr {
			text-align: center;
			font-size: 15px;
			line-height: 20px;
		}
	}
	.feed-form {
		margin-inline: auto;
		max-width: 300px;
		width: 100%;
	}
}