@media (max-width: 991px) {
	.container {
		max-width: 720px;
	}
	.advantages {
		&__item {
			width: 220px;
		}
	}
	.title {
		&_left {
			font-size: 30px;
			line-height: 45px;
		}
	}
	.carousel {
		&__wrapper {
			max-width: 100%;
		}
		.prev, .next {
			display: none;
		}
	}
	.catalog {
		&__content {
			width: 620px;
			margin-inline: auto;
		}
		&-item {
			&:nth-child(3n+3) {
				margin-right: 20px;
			}
			&:nth-child(even) {
				margin-right: 0;
			}
		}
	}
}

@media (max-width: 767px) {
	.container {
		max-width: 540px;
	}
	.header {
		&__official {
			display: none;
		}
	}
	.promo {
		&__wrapper {
			align-items: center;
		}
	}
	.advantages {
		&__wrapper {
			flex-direction: column;
			align-items: center;
		}
		&__item {
			width: 242px;
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}
	.title {
		&_left {
			text-align: center;
		}
	}
	.consultations {
		&__descr {
			text-align: center;
		}
	}
	.feed-form {
		margin-inline: auto;
	}
	.catalog {
		padding-bottom: 30px;
		&__content {
			width: auto;
		}
		&-item {
			width: 260px;
			min-height: 360px;
			&__content {
				padding-right: 20px;
				&_active {
					padding-right: 0;
				}
			}
			&__img {
				height: 170px;
			}
			&__descr {
				font-size: 13px;
				line-height: 18px;
			}
			&__price {
				font-size: 18px;
			}
			&__old-price {
				font-size: 13px;
				line-height: 18px;
			}
			&__list {
				li {
					font-size: 13px;
					line-height: 18px;
					margin-bottom: 10px;
				}
			}
		}
	}
	.button_mini {
		width: 120px;
		height: 35px;
	}
	.feed {
		padding-bottom: 40px;
		&__wrapper {
			margin-top: 50px;
		}
		&__item {
			flex-direction: column;
		}
		&__img {
			width: 100px;
			height: 100px;
			margin: 0 auto;
		}
		&__text {
			margin-left: 0;
			padding: 0 20px;
		}
		&__subtitle {
			margin-top: 15px;
			text-align: center;
		}
		&__count {
			text-align: center;
		}
	}
}

@media (max-width: 575px) {
	.container {
		width: auto;
		padding-inline: 5%;
	}
	.header {
		&__logo {
			img {
				width: 90%;
			}
		}
		&__phone {
			font-size: 14px;
		}
	}
	.promo {
		min-height: auto;
		padding-bottom: 50px;
		&__wrapper {
			margin-top: 60px;
		}
		&__header {
			text-align: center;
			font-size: 25px;
		}
		&__subheader {
			text-align: center;
			font-size: 15px;
		}
		&__icons {
			width: 100%;
			justify-content: space-evenly;
		}
		&__icon {
			width: 80px;
			font-size: 12px;
			br {
				display: none;
			}
		}
	}
	.button {
		&_main {
			width: auto;
			height: auto;
			padding: 16px 32px;
		}
	}
	.advantages {
		padding-block: 50px;
		&__wrapper {
			margin-top: 20px;
		}
	}
	.title {
		font-size: 20px;
		line-height: 30px;
	}
	.consultations {
		padding-block: 50px;
		min-height: auto;
		&__descr {
			text-align: center;
			font-size: 15px;
			line-height: 20px;
		}
	}
	.feed-form {
		margin-inline: auto;
		max-width: 300px;
		width: 100%;
	}

	.carousel {
		padding: 45px 0;
	}

	.catalog {
		&__content {
			justify-content: center;
			margin-top: 30px;
		}
		padding-bottom: 20px;
		&__tabs {
			margin-top: 20px;
		}
		&__tab {
			width: 110px;
			height: 30px;
			border: none;
			border-bottom: 1px solid #d0d0d0;
			font-size: 11px;
			line-height: 28px;
			margin: 0;
			&_active {
				line-height: 30px;
				border: none;
			}
		}
		&-item {
			margin-right: 0;
			&:nth-child(3n+3) {
				margin-right: 0;
			}
		}
	}
	.feed {
		&__descr {
			font-size: 14px;
			line-height: 20px;
		}
	}
}