.advantages {
	min-height: 470px;
	background: #F6F6F6;
	padding-block: 65px 80px;
	&__wrapper {
		margin-top: 65px;
		display: flex;
		justify-content: space-between;
	}
	&__item {
		width: 242px;
	}
	&__icon {
		display: block;
		margin: 0 auto;
	}
	&__subtitle {
		font-weight: 700;
		font-size: 18px;
		line-height: 18px;
		text-align: center;
		color: #0D0D0D;
		margin-top: 38px;
	}
	&__descr {
		font-weight: 300;
		font-size: 14px;
		line-height: 18px;
		text-align: center;
		color: #0D0D0D;
		margin-top: 25px;
		a {
			text-decoration-line: underline;
			color: #FF0000;
		}
	}
}