.title {
	font-weight: 700;
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;
	color: #0D0D0D;
	&_left {
		max-width: 810px;
		font-size: 36px;
		line-height: 50px;
		color: #FFFFFF;
		text-align: left;
	}
}